<%- include('./partials/header.html') %>
      <div id="history" class="modal animated slideInRight">
        <div class="modal-content">
          <h4>Modal Header</h4>
          <p>A bunch of text</p>
        </div>
        <div class="modal-footer">
          <a href="#!" class="modal-action modal-close waves-effect waves-green btn-flat">Agree</a>
        </div>
      </div>
    <ul id="dropdown1" class="dropdown-content">
        <li><a href="#!">one</a></li>
        <li><a href="#!">two</a></li>
        <li class="divider"></li>
        <li><a href="#!">three</a></li>
    </ul>
    <header>
        <div class="navbar">
            <div class="logo">
                <img src="#">
            </div>
            <ul class="nav">
                <li class="item">
                    <a href="#">Home</a>
                </li>

                <li class="item">
                    <a href="#">About</a>
                </li>

                <li class="item">
                    <a href="#">Solutions and services</a>
                </li>

                <li class="item">
                    <a href="#">Clients</a>
                </li>

                <li class="item">
                    <a href="#">Feedback</a>
                </li>

                <li class="item">
                    <a href="#">Blogs</a>
                </li>
                <li class="item">
                    <a href="#">Contact us</a>
                </li>
            </ul>


        </div>
    </header>
    <div id="banners" class="parallax-container" style="margin-top:-10%; height:110%;">
        <div class="flex-center pattern-bg" style="z-index:100;flex-direction:column; cursor:pointer">
            <div class="click-me flex-center qnx-logo" style="flex-direction:column;">
                <img class="flex-center tooltipped animated fadeInUp" data-position="right" data-delay="50" data-tooltip="Know more about Questronix!"
                    style="z-index:100;width:25%;" src="img/qnxlogo.svg">
                <h3 class=" jumbotron no-padding animated fadeIn col-xs-offset-2 col-sm-offset-0 col-md-offset-0 col-lg-offset-0" style="z-index:100;background-color:unset;color:snow;animation-delay:700ms"><i style="color: #ff5612; font-family:arial; ">e</i>nabling digital transformation <br /></h3>
            </div>
        </div>
        <video autoplay muted loop id="myVideo">
            <source src="img/bg.mp4" type="video/mp4">
        </video>
    </div>
    <h4 class="text-center" style="margin-bottom:3%;"> We make digital transformation possible </h4>
    <div class="col-md-12 row" style="height:50%; margin-bottom:0;">
        <div class="col-md-6 flex-center" style="text-align:justify;">
            <div class="col-md-8">
                <hr/>
                <h5>
                    Your trusted business partner for IT solutions and services.Questronix has grown to be one of the largest IT solution provider
                    and systems integrator in the Philippines since 1987 that has earned award and certificates through its
                    focused professional team of experts.
                </h5>
                <hr/>
            </div>
        </div>
        <div class="col-md-6 row no-padding no-margin content-frame">
            <div data-target="history" class="col-md-6 history-bg flex-center no-padding no-margin modal-trigger">
                <h5>History</h5>
                <div class="animated-filter flex-center">
                    <h5>History</h5>
                </div>
            </div>
            <div class="col-md-6 certificates-bg flex-center no-padding no-margin">
                <h5>Certifications</h5>
                <div class="animated-filter flex-center">
                    <h5>Certifications</h5>
                </div>
            </div>
            <div class="col-md-6 mission-bg flex-center no-padding no-margin">
                <h5>Mission</h5>
                <div class="animated-filter flex-center">
                    <h5>Mission</h5>
                </div>
            </div>
            <div class="col-md-6 awards-bg flex-center no-padding no-margin">
                <h5>Award</h5>
                <div class="animated-filter flex-center">
                    <h5>Award</h5>
                </div>
            </div>
        </div>
    </div>

    <ul class="collapsible col-md-12 row no-padding no-margin" data-collapsible="accordion" style="background-color:#eaeaea">
        <li class="col-md-6" style="">
            <div class="collapsible-header flex-center" style="border:none; background-color:#eaeaea;height:30%;">
                <h4 class="text-center">
                    <span class=" fa fa-lightbulb-o"></span>
                    Innovative solutions
                </h4>
            </div>
            <div class="collapsible-body">
                <ul>
                    <li class="header-list">
                        Enables business innovation & realtime collaboration
                    </li>
                    <li class="header-list">
                        Optimizes business process and reduce costs
                    </li>
                    <li class="header-list">
                        Designs simplified and efficient data center
                    </li>
                </ul>
                <ul>
                    <li>
                        <b>
                    <h5 class="no-padding no-margin">INFRASTRUCTURES</h5>
                </b>
                    </li>
                    <li class="lists">
                        item 1 here
                    </li>
                    <li class="lists">
                        item 1 here
                    </li>
                    <li class="lists">
                        item 1 here
                    </li>
                </ul>
                <ul>
                    <li>
                        <b>
                    <h5>INFRASTRUCTURES</h5>
                </b>
                    </li>
                    <li class="lists">
                        item 1 here
                    </li>
                    <li class="lists">
                        item 1 here
                    </li>
                    <li class="lists">
                        item 1 here
                    </li>
                </ul>
                <ul>
                    <li>
                        <b>
                    <h5>INFRASTRUCTURES</h5>
                </b>
                    </li>
                    <li class="lists">
                        item 1 here
                    </li>
                    <li class="lists">
                        item 1 here
                    </li>
                    <li class="lists">
                        item 1 here
                    </li>
                </ul>
            </div>
        </li>
        <li class="col-md-6">
            <div class="collapsible-header flex-center" style="border:none;background-color:#eaeaea;height:30%;">
                <h4 class="text-center">
                        <span class=" fa fa-check-circle-o"></span>
                    Reliable services
                </h4>
            </div>
            <div class="collapsible-body">
                <ul>
                    <li class="header-list">
                        Enables business innovation & realtime collaboration
                    </li>
                    <li class="header-list">
                        Optimizes business process and reduce costs
                    </li>
                    <li class="header-list">
                        Designs simplified and efficient data center
                    </li>
                </ul>
                <div class="col-md-12 no-padding no-margin row">
                    <div class="col-md-6 no-padding no-margin">
                        <ul>
                            <li>
                                <b>
                            <h5 class="no-padding no-margin">INFRASTRUCTURES</h5>
                        </b>
                            </li>
                            <li class="lists">
                                item 1 here
                            </li>
                            <li class="lists">
                                item 1 here
                            </li>
                            <li class="lists">
                                item 1 here
                            </li>
                        </ul>
                        <ul>
                            <li>
                                <b>
                            <h5>INFRASTRUCTURES</h5>
                        </b>
                            </li>
                            <li class="lists">
                                item 1 here
                            </li>
                            <li class="lists">
                                item 1 here
                            </li>
                            <li class="lists">
                                item 1 here
                            </li>
                        </ul>
                        <ul>
                            <li>
                                <b>
                            <h5>INFRASTRUCTURES</h5>
                        </b>
                            </li>
                            <li class="lists">
                                item 1 here
                            </li>
                            <li class="lists">
                                item 1 here
                            </li>
                            <li class="lists">
                                item 1 here
                            </li>
                        </ul>
                    </div>
                    <div class="col-md-6 no-padding no-margin">
                        <ul>
                            <li>
                                <b>
                            <h5 class="no-padding no-margin">INFRASTRUCTURES</h5>
                        </b>
                            </li>
                            <li class="lists">
                                item 1 here
                            </li>
                            <li class="lists">
                                item 1 here
                            </li>
                            <li class="lists">
                                item 1 here
                            </li>
                        </ul>
                        <ul>
                            <li>
                                <b>
                            <h5>INFRASTRUCTURES</h5>
                        </b>
                            </li>
                            <li class="lists">
                                item 1 here
                            </li>
                            <li class="lists">
                                item 1 here
                            </li>
                            <li class="lists">
                                item 1 here
                            </li>
                        </ul>
                        <ul>
                            <li>
                                <b>
                            <h5>INFRASTRUCTURES</h5>
                        </b>
                            </li>
                            <li class="lists">
                                item 1 here
                            </li>
                            <li class="lists">
                                item 1 here
                            </li>
                            <li class="lists">
                                item 1 here
                            </li>
                        </ul>
                    </div>
        </li>
    </ul>





    <div class="parallax-container" style="margin-top:-20px;">
        <div class="parallax"><img style="width:100%" src="img/customers.jpg">
        </div>
        <h3 class="flex-center" style="height:100%;"> Same partners section as before</h3>
    </div>
    <div class="slider">
        <ul class="slides">
            <li>
                <img src="https://lorempixel.com/580/250/nature/1">
                <!-- random image -->
                <div class="caption center-align">
                    <h3>same clients</h3>
                    <h5 class="light grey-text text-lighten-3">Here's our small slogan.</h5>
                </div>
            </li>
            <li>
                <img src="https://lorempixel.com/580/250/nature/2">
                <!-- random image -->
                <div class="caption left-align">
                    <h3>same clients</h3>
                    <h5 class="light grey-text text-lighten-3">Here's our small slogan.</h5>
                </div>
            </li>
            <li>
                <img src="https://lorempixel.com/580/250/nature/3">
                <!-- random image -->
                <div class="caption right-align">
                    <h3>same clients</h3>
                    <h5 class="light grey-text text-lighten-3">Here's our small slogan.</h5>
                </div>
            </li>
            <li>
                <img src="https://lorempixel.com/580/250/nature/4">
                <!-- random image -->
                <div class="caption center-align">
                    <h3>This is our big Tagline!</h3>
                    <h5 class="light grey-text text-lighten-3">Here's our small slogan.</h5>
                </div>
            </li>
        </ul>
    </div>




    <%- include('./partials/footer.html') %>