<%- include('./partials/header.html') %>
    <%- include('./modal.html') %>
        <nav>
            <div class="nav-wrapper navbar">
                <a href="#banners" class="logo"></a>
                <a href="#" data-activates="mobile-demo" class="button-collapse"><i class="fa fa-bars" style="color:#2b2b2b"></i></a>
                <ul class="right hide-on-med-and-down">
                    <li class="item">
                        <a href="#banners">Home</a>
                    </li>

                    <li class="item">
                        <a href="#about">About</a>
                    </li>

                    <li class="item">
                        <a href="#cards">Solutions and services</a>
                    </li>

                    <li class="item">
                        <a href="#partner">Partners</a>
                    </li>

                    <li class="item">
                        <a href="#client">Clients</a>
                    </li>
                    <li class="item">
                        <a href="#contact">Contact us</a>
                    </li>
                    <li class="item">
                        <a class='dropdown-button ' href="#login" data-activates='login'>Login</a>
                    </li>

                    <!-- Dropdown Structure -->
                    <ul id='login' class='dropdown-content' style="margin-top:1%;">
                        <li><a href="#!" style="color:#2b2b2b">Client</a></li>
                        <li><a href="#!" style="color:#2b2b2b">Employee</a></li>
                    </ul>
                </ul>
                <ul class="side-nav" id="mobile-demo">
                    <li class="item" style="color:#2b2b2b">
                        <a href="#banners">Home</a>
                    </li>

                    <li class="item" style="color:#2b2b2b">
                        <a href="#about">About</a>
                    </li>

                    <li class="item" style="color:#2b2b2b">
                        <a href="#cards">Solutions and services</a>
                    </li>

                    <li class="item" style="color:#2b2b2b">
                        <a href="#partner">Partners</a>
                    </li>

                    <li class="item" style="color:#2b2b2b">
                        <a href="#client">Clients</a>
                    </li>
                    <li class="item" style="color:#2b2b2b">
                        <a href="#contact">Contact us</a>
                    </li>
                    <li class="item" style="color:#2b2b2b">
                        <a class='dropdown-button ' href='#' data-activates='login-side'>Login</a>
                    </li>

                    <!-- Dropdown Structure -->
                    <ul id='login-side' class='dropdown-content' style="margin-top:1%;">
                        <li><a href="#!" style="color:#2b2b2b">Client</a></li>
                        <li><a href="#!" style="color:#2b2b2b">Employee</a></li>
                    </ul>
                </ul>
            </div>
        </nav>
        <div id="banners" class="parallax-container" style=" height:100%;">
            <div class="flex-center pattern-bg" style="z-index:100;flex-direction:column;">
                <div class="click-me flex-center qnx-logo" style="flex-direction:column;">
                    <img class="flex-center tooltipped animated fadeInUp" data-position="right" data-delay="50" data-tooltip="Questronix 30 years!"
                        style="z-index:100;width:25%;" src="img/qnxlogo.svg">
                    <h3 class=" jumbotron no-padding animated fadeIn col-xs-offset-2 col-sm-offset-0 col-md-offset-0 col-lg-offset-0" style="z-index:100;background-color:unset;color:snow;animation-delay:700ms"><i style="color: #ff5612; font-family:arial; ">e</i>nabling digital transformation <br /></h3>
                </div>
            </div>
            <video autoplay muted loop id="myVideo">
                <source src="img/bg.mp4" type="video/mp4">
            </video>
        </div>
        <div id="about" style="background-color:#515151; padding:2% 0% 2% 0%;">
            <h5 class="text-center text-white" style="margin:0% 0% 2.5% 0%"> We make digital transformation possible </h5>
            <div class="col-md-12 row no-padding" style="height:50%; margin-bottom:0;">
                <div class="col-md-6 flex-center" style="text-align:justify;">
                    <div class="about col-md-8" data-aos="fade-right">
                        <hr style="border-color:white" />
                        <p class="text-white">
                            Your trusted business partner for IT solutions and services. Questronix has grown to be one of the largest IT solutions and
                            service providers and systems integrators in the Philippines since 1987 that has earned awards
                            and certificates through its focused professional team of experts.
                        </p>
                        <hr style="border-color:white" />
                    </div>
                </div>
                <div class="col-md-6 row no-padding no-margin content-frame">
                    <div data-target="history" id="history-open" class="col-md-6 history-bg flex-center no-padding no-margin modal-trigger">
                        <h5>History</h5>
                        <div class="animated-filter flex-center">
                            <h5>History</h5>
                        </div>
                    </div>
                    <div data-target="certificate" id="certificate-open" class="col-md-6 certificates-bg flex-center no-padding no-margin modal-trigger">
                        <h5>Certifications</h5>
                        <div class="animated-filter flex-center">
                            <h5>Certifications</h5>
                        </div>
                    </div>
                    <div class="col-md-6 leaders-bg flex-center no-padding no-margin">
                        <h5>Leaders</h5>
                        <div class="animated-filter flex-center">
                            <h5>Leaders</h5>
                        </div>
                    </div>
                    <div data-target="award" id="certificate-open" class="col-md-6 awards-bg flex-center no-padding no-margin modal-trigger">
                        <h5>Award</h5>
                        <div class="animated-filter flex-center">
                            <h5>Award</h5>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div id="cards" class="col-md-12 row" style="margin-top:5%;">
            <div class=" col-md-4 row">
                <div class="col s12 m6 l6">
                    <div class="card blue-grey darken-1 flex-center solution">
                        <div class="card-content white-text">
                            <h5 class="text-center text-white">
                                <span class=" fa fa-lightbulb-o"></span> Innovative solutions
                            </h5>
                            <p>one sentence on what is a reliable services here, prefferably as much as this long.</p>
                        </div>
                        <h4 class="text-white text-center animated innovation modal-trigger" data-target="solution" style="cursor:pointer;"><span class="fa fa-chevron-circle-right"></span></h4>
                    </div>
                </div>
            </div>
            <div class=" col-md-4 row">
                <div class="col s12 m6 l6">
                    <div class="card blue-grey darken-1 flex-center">
                        <div class="card-content white-text service">
                            <h5 class="text-center text-white">
                                <span class=" fa fa-star-o"></span> Reliable services
                            </h5>
                            <p>one sentence on what is a reliable services here, prefferably as much as this long.</p>
                        </div>
                        <div style="display:flex; justify-content:space-evenly;width:100%;">
                            <h4 class="text-white text-center animated modal-trigger reliable" data-target="service" style="cursor:pointer"><span class="fa fa-chevron-circle-right"></span></h4>
                            <h4>
                                <a class="catalog text-white" href="http://qps/catalog1.5/" target="_blank"><span class="fa fa-book"></span></a>
                            </h4>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="col-md-12 row no-padding no-margin">
            <div class="col-md-4 no-padding no-margin">
                <img style="width:100%;" src="img/man.png">
            </div>
            <div id="mission" class="col-md-6" data-aos="fade-left">
                <h5 class="text-center">
                    Mission
                </h5>
                <hr/>
                <p class="text-justify">
                    The company's incorporators being authorities in the fields of Information Technology, Management Services, Customer Support,
                    Marketing, and Human Resources, share a common passion of providing the best products and professional
                    service possible.
                </p>
                <hr/>
            </div>
        </div>


        <div id="partner" class="col-md-12 no-margin partner-bg " style="padding:2% 0% 2% 0%">
            <h5 class="text-center no-padding no-margin">Our partners</h5>
            <div>
                <div class="flex-center col-md-12 col-sm-12 col-xs-6 col-lg-12" style="padding:2% 0% 2% 0%">
                    <div class="col-md-2 flex-center">
                        <img class="img-filter" src="img/ibmplatinum.png" style="width:75%">
                    </div>
                    <div class="col-md-2 flex-center">
                        <img class="img-filter" src="img/barracuda.png" style=" width:100%">
                    </div>
                    <div class="col-md-2 flex-center">
                        <img class="img-filter" src="img/oraclegold.png" style="width:100%">
                    </div>
                    <div class="col-md-2 flex-center">
                        <img class="img-filter" src="img/sappartner.png" style="width:75%">
                    </div>
                    <div class="col-md-2 flex-center">
                        <img class="img-filter" src="img/paloaltonetworks.png" style="width:100%">
                    </div>
                </div>
                <div class="flex-center col-md-12 col-sm-12 col-xs-6 col-lg-12" style="padding:2% 0% 2% 0%">
                    <div class="col-md-2 flex-center">
                        <img class="img-filter" src="img/lenovodiamond.png" style="width:75%">
                    </div>
                    <div class="col-md-2 flex-center">
                        <img class="img-filter" src="img/f52.png" style="width:50%">
                    </div>
                    <div class="col-md-2 flex-center">
                        <img class="img-filter" src="img/visionsolution.png" style="width:75%">
                    </div>
                    <div class="col-md-2 flex-center">
                        <img class="img-filter" src="img/ciscocertified.png" style="width:50%">
                    </div>
                    <div class="col-md-2 flex-center">
                        <img class="img-filter" src="img/vmware.png" style="width:75%">
                    </div>
                </div>
                <div class="flex-center col-md-12 col-sm-12 col-xs-6 col-lg-12" style="padding:2% 0% 2% 0%">
                    <div class="col-md-2 col-lg-2 col-sm-6 col-xs-4 flex-center margin-s">
                        <img class="img-filter" src="img/microsoft.png" style="width: 75%;">
                    </div>
                    <div class="col-md-2 col-lg-2 col-sm-6 col-xs-4 flex-center margin-s">
                        <img class="img-filter" src="img/redhat.png" style="width: 75%;">
                    </div>
                    <div class="col-md-2 col-lg-2 col-sm-6 col-xs-4 flex-center margin-s">
                        <img class="img-filter" src="img/veritas.png" style="width: 75%;">
                    </div>
                    <div class="col-md-2 col-lg-2 col-sm-6 col-xs-4 flex-center margin-s">
                        <img class="img-filter" src="img/symantec.png" style="width: 75%">
                    </div>
                    <div class="col-md-2 col-lg-2 col-sm-6 col-xs-4 flex-center margin-s">
                        <img class="img-filter" src="img/enforcive.png" style="width: 75%;">
                    </div>
                </div>
            </div>
        </div>

        <div id="client" class="col-md-12 row">
            <h5 class="col-md-2 text-center block" style="margin:auto">
                Our clients
            </h5>
            <h5 class="col-md-10 marquee">
                <span class="marquee-item" style="width:10%;"><img style="width:100%;" src="img/pnb.png"></span>
                <span class="marquee-item" style="width:10%;"><img style="width:100%;" src="img/chinabank.png"></span>
                <span class="marquee-item" style="width:10%;"><img style="width:100%;" src="img/securitybank.png"></span>
                <span class="marquee-item" style="width:10%;"><img style="width:100%;" src="img/SSS.png"></span>
                <span class="marquee-item" style="width:10%;"><img style="width:100%;" src="img/solaire.png"></span>
                <span class="marquee-item" style="width:10%;"><img style="width:100%;" src="img/puregold.png"></span>
                <span class="marquee-item" style="width:10%;"><img style="width:100%;" src="img/smart.png"></span>
                <span class="marquee-item" style="width:10%;"><img style="width:100%;" src="img/robinsons.png"></span>
                <span class="marquee-item" style="width:10%;"><img style="width:100%;" src="img/unionbank.png"></span>
                <span class="marquee-item" style="width:10%;"><img style="width:100%;" src="img/landbank.png"></span>
                <span class="marquee-item" style="width:10%;"><img style="width:100%;" src="img/denso.png"></span>
                <span class="marquee-item" style="width:10%;"><img style="width:100%;" src="img/aranetacenter.png"></span>
                <span class="marquee-item" style="width:10%;"><img style="width:100%;" src="img/melco.png"></span>
                <span class="marquee-item" style="width:10%;"><img style="width:100%;" src="img/insular.png"></span>
                <span class="marquee-item" style="width:10%;"><img style="width:100%;" src="img/boc.png"></span>
                <span class="marquee-item" style="width:10%;"><img style="width:100%;" src="img/cbs.png"></span>
                <span class="marquee-item" style="width:10%;"><img style="width:100%;" src="img/ucpb.png"></span>
                <span class="marquee-item" style="width:10%;"><img style="width:100%;" src="img/sunlife.png"></span>
                <span class="marquee-item" style="width:10%;"><img style="width:100%;" src="img/abs-cbn.png"></span>
                <span class="marquee-item" style="width:10%;"><img style="width:100%;" src="img/eastern.png"></span>
                <span class="marquee-item" style="width:10%;"><img style="width:100%;" src="img/imi.png"></span>
                <span class="marquee-item" style="width:10%;"><img style="width:100%;" src="img/aub.png"></span>
                <span class="marquee-item" style="width:10%;"><img style="width:100%;" src="img/golden-abc.png"></span>
                <span class="marquee-item" style="width:10%;"><img style="width:100%;" src="img/pbcom.png"></span>
                <span class="marquee-item" style="width:10%;"><img style="width:100%;" src="img/g-exchange.png"></span>
            </h5>
        </div>
        <div data-aos="fade-up" data-aos-anchor-placement="bottom-bottom">
            <h5 class="text-center">
                Feedback
            </h5>
            <div class="carousel carousel-slider">
                <div style="margin-top:10%">
                    <div class="flex-center moveNextCarousel btn-floating waves-light waves-effect pull-right" style="display:flex;">
                        <span class="text-center fa fa-chevron-right"></span>
                    </div>
                    <div class="flex-center movePrevCarousel btn-floating waves-light waves-effect pull-left" style="display:flex">
                        <span class="text-center fa fa-chevron-left"></span>
                    </div>
                </div>
                <a class="carousel-item" href="#one!">
                    <div class="col-md-12 row">
                        <div class="col-md-3">
                            <div class="card small">
                                <div class="card-image">
                                    <img src="img/ibmplatinum.png">
                                </div>
                                <div class="card-content">
                                    <span class="card-title">Jane Doe - Manager</span>
                                    <p>You exceeded our expectations tenfold. With the reporting and contact management Questronix
                                        has given our organization. (this has150 character limit)
                                    </p>
                                </div>
                            </div>
                        </div>
                        <div class="col-md-3">
                            <div class="card  small">
                                <div class="card-image">
                                    <img src="img/emerson.jpg">
                                </div>
                                <div class="card-content">
                                    <span class="card-title">Jane Doe - Secretary</span>
                                    <p>You exceeded our expectations tenfold. With the reporting and contact management Questronix
                                        has given our organization. (this has150 character limit)</p>
                                </div>
                            </div>
                        </div>
                        <div class="col-md-3">
                            <div class="card small">
                                <div class="card-image">
                                    <img src="img/paloaltonetworks.png">
                                </div>
                                <div class="card-content">
                                    <span class="card-title">Jane Doe - Secretary</span>
                                    <p>You exceeded our expectations tenfold. With the reporting and contact management Questronix
                                        has given our organization. (this has150 character limit)</p>
                                </div>
                            </div>
                        </div>
                        <div class="col-md-3">
                            <div class="card small">
                                <div class="card-image">
                                    <img src="img/paloaltonetworks.png">
                                </div>
                                <div class="card-content">
                                    <span class="card-title">Jane Doe - Secretary</span>
                                    <p>You exceeded our expectations tenfold. With the reporting and contact management Questronix
                                        has given our organization. (this has150 character limit)</p>
                                </div>
                            </div>
                        </div>
                    </div>
                </a>
                <a class="carousel-item" href="#two!">
                    <div class="col-md-12 row">
                        <div class="col-md-3">
                            <div class="card small">
                                <div class="card-image">
                                    <img src="img/paloaltonetworks.png">
                                </div>
                                <div class="card-content">
                                    <span class="card-title">Jane Doe - Secretary</span>
                                    <p>You exceeded our expectations tenfold. With the reporting and contact management Questronix
                                        has given our organization. (this has150 character limit)</p>
                                </div>
                            </div>
                        </div>
                        <div class="col-md-3">
                            <div class="card small">
                                <div class="card-image">
                                    <img src="img/paloaltonetworks.png">
                                </div>
                                <div class="card-content">
                                    <span class="card-title">Jane Doe - Secretary</span>
                                    <p>You exceeded our expectations tenfold. With the reporting and contact management Questronix
                                        has given our organization. (this has150 character limit)</p>
                                </div>
                            </div>
                        </div>
                        <div class="col-md-3">
                            <div class="card small">
                                <div class="card-image">
                                    <img src="img/paloaltonetworks.png">
                                </div>
                                <div class="card-content">
                                    <span class="card-title">Jane Doe - Secretary</span>
                                    <p>You exceeded our expectations tenfold. With the reporting and contact management Questronix
                                        has given our organization. (this has150 character limit)</p>
                                </div>
                            </div>
                        </div>
                        <div class="col-md-3">
                            <div class="card small">
                                <div class="card-image">
                                    <img src="img/paloaltonetworks.png">
                                </div>
                                <div class="card-content">
                                    <span class="card-title">Jane Doe - Secretary</span>
                                    <p>You exceeded our expectations tenfold. With the reporting and contact management Questronix
                                        has given our organization. (this has150 character limit)</p>
                                </div>
                            </div>
                        </div>
                    </div>
                </a>
                <a class="carousel-item" href="#three!">
                    <div class="col-md-12 row">
                        <div class="col-md-3">
                            <div class="card small">
                                <div class="card-image">
                                    <img src="img/ibmplatinum.png">
                                </div>
                                <div class="card-content">
                                    <span class="card-title">Jane Doe - Manager</span>
                                    <p>You exceeded our expectations tenfold. With the reporting and contact management Questronix
                                        has given our organization. (this has150 character limit)
                                    </p>
                                </div>
                            </div>
                        </div>
                        <div class="col-md-3">
                            <div class="card small">
                                <div class="card-image">
                                    <img src="img/ibmplatinum.png">
                                </div>
                                <div class="card-content">
                                    <span class="card-title">Jane Doe - Manager</span>
                                    <p>You exceeded our expectations tenfold. With the reporting and contact management Questronix
                                        has given our organization. (this has150 character limit)
                                    </p>
                                </div>
                            </div>
                        </div>
                        <div class="col-md-3">
                            <div class="card small">
                                <div class="card-image">
                                    <img src="img/ibmplatinum.png">
                                </div>
                                <div class="card-content">
                                    <span class="card-title">Jane Doe - Manager</span>
                                    <p>You exceeded our expectations tenfold. With the reporting and contact management Questronix
                                        has given our organization. (this has150 character limit)
                                    </p>
                                </div>
                            </div>
                        </div>
                        <div class="col-md-3">
                            <div class="card small">
                                <div class="card-image">
                                    <img src="img/ibmplatinum.png">
                                </div>
                                <div class="card-content">
                                    <span class="card-title">Jane Doe - Manager</span>
                                    <p>You exceeded our expectations tenfold. With the reporting and contact management Questronix
                                        has given our organization. (this has150 character limit)
                                    </p>
                                </div>
                            </div>
                        </div>
                    </div>
                </a>
                <a class="carousel-item" href="#four!">
                    <div class="col-md-12 row">
                        <div class="col-md-3">
                            <div class="card  small">
                                <div class="card-image">
                                    <img src="img/emerson.jpg">
                                </div>
                                <div class="card-content">
                                    <span class="card-title">Jane Doe - Secretary</span>
                                    <p>Thank you so much for producing such a wonderful software product! After extensive research
                                        of other database solutions large and small, we selected Questronix because it looked
                                        both powerful and fast response time."</p>
                                </div>
                            </div>
                        </div>
                        <div class="col-md-3">
                            <div class="card  small">
                                <div class="card-image">
                                    <img src="img/emerson.jpg">
                                </div>
                                <div class="card-content">
                                    <span class="card-title">Jane Doe - Secretary</span>
                                    <p>Thank you so much for producing such a wonderful software product! After extensive research
                                        of other database solutions large and small, we selected Questronix because it looked
                                        both powerful and fast response time."</p>
                                </div>
                            </div>
                        </div>
                        <div class="col-md-3">
                            <div class="card  small">
                                <div class="card-image">
                                    <img src="img/emerson.jpg">
                                </div>
                                <div class="card-content">
                                    <span class="card-title">Jane Doe - Secretary</span>
                                    <p>Thank you so much for producing such a wonderful software product! After extensive research
                                        of other database solutions large and small, we selected Questronix because it looked
                                        both powerful and fast response time."</p>
                                </div>
                            </div>
                        </div>
                        <div class="col-md-3">
                            <div class="card  small">
                                <div class="card-image">
                                    <img src="img/emerson.jpg">
                                </div>
                                <div class="card-content">
                                    <span class="card-title">Jane Doe - Secretary</span>
                                    <p>Thank you so much for producing such a wonderful software product! After extensive research
                                        of other database solutions large and small, we selected Questronix because it looked
                                        both powerful and fast response time."</p>
                                </div>
                            </div>
                        </div>
                    </div>
                </a>
            </div>
        </div>
        <footer id="contact" class="footer">
            <div class="col-md-12 row no-margin footer-filter" style="padding:0% 5% 0% 5%">
                <div class="col-md-4 text-white">
                    <h5 class="text-white">Carrers and oppotunities</h5>
                    <ul>
                        <li>Account Manager</li>
                        <li>Software Developer</li>
                        <li>Security Solutions Specialist</li>
                        <li>Incident Response Analyst I</li>
                        <li>Human Resources</li>
                        <li>Accounting</li>
                        <li>Project Manager</li>
                    </ul>
                </div>
                <div class="col-md-4">
                    <h5 class="text-white">Contact Details:</h5>
                    <p class="text-white">
                        <i class="fa fa-clock-o"></i> Office Hours: Monday - Friday: 8:30 AM to 5:30 PM<br />
                        <i class="fa fa-building-o"></i> Questronix Corporate Center<br />
                        <i class="fa fa-map-marker"></i> 178 Yakal St. San Antonio Village, Makati City, 1203, Philippines<br
                        />
                        <i class="fa fa-phone"></i> TrunkLine: (+632) 822-7700<br />
                        <i class="fa fa-phone-square"></i> QSERV HOTLINE: (+632) 822-0922<br />
                        <i class="fa fa-envelope-o"></i> Email: marketing@questronix.com.ph<br />
                        <hr style="border-color:#fff"/>
                        <a href=" https://www.kalibrr.ph/c/questronix-corporation/jobs">Kalibrr: https://www.kalibrr.ph/c/questronix-corporation/jobs</a><br />
                    </p>
                </div>
                <div class="col-md-4">
                    <div class="card">
                        <div class="card-tabs">
                            <ul class="tabs tabs-fixed-width">
                                <li class="tab"><a href="#feedback" style="color:#2b2b2b">Feedback</a></li>
                                <li class="tab"><a href="#join" style="color:#2b2b2b">Join us!</a></li>
                            </ul>
                        </div>
                        <div class="card-content grey lighten-4">
                            <div id="feedback">
                                <div class="row no-padding no-margin">
                                    <form class="col-md-12">
                                        <div class="row no-padding no-margin">
                                            <div class="input-field col-md-12 no-padding no-margin">
                                                <input placeholder="Name" id="first_name" type="text" class="validate">
                                                <label for="first_name">Name</label>
                                            </div>
                                        </div>
                                        <div class="row no-padding no-margin">
                                            <div class="input-field col-md-12 no-padding no-margin">
                                                <input id="email" placeholder="Email" type="email" class="validate">
                                                <label for="email">Email</label>
                                            </div>
                                        </div>
                                        <div class="row no-padding no-margin">
                                            <div class="input-field col-md-12 no-padding no-margin">
                                                <input id="company" placeholder="Company" type="text" class="validate">
                                                <label for="company">Company</label>
                                            </div>
                                        </div>
                                        <div class="row no-padding no-margin">
                                            <div class="input-field col-md-12 no-padding no-margin">
                                                <input id="position" placeholder="Position" type="text">
                                                <label for="position">Position</label>
                                            </div>
                                        </div>
                                        <div class="row no-padding no-margin">
                                            <div class="input-field col-md-12 no-padding no-margin">
                                                <textarea id="message" class="materialize-textarea"></textarea>
                                                <label for="message">Message</label>
                                            </div>
                                        </div>
                                        <div class="btn waves-effect waves-light pull-right"> Send </div>
                                    </form>
                                </div>
                            </div>
                            <div id="join">
                                <div class="row no-padding no-margin">
                                    <form class="col-md-12">
                                        <div class="row no-padding no-margin">
                                            <div class="input-field col-md-12 no-padding no-margin">
                                                <input placeholder="Name" id="first_name" type="text" class="validate">
                                                <label for="first_name">Name</label>
                                            </div>
                                        </div>
                                        <div class="row no-padding no-margin">
                                            <div class="input-field col-md-12 no-padding no-margin">
                                                <input id="email" placeholder="Email" type="email" class="validate">
                                                <label for="email">Email</label>
                                            </div>
                                        </div>
                                        <div class="row no-padding no-margin">
                                            <div class="input-field col-md-12 no-padding no-margin">
                                                <textarea id="message" class="materialize-textarea"></textarea>
                                                <label for="message">Message</label>
                                            </div>
                                        </div>
                                        <div class="btn waves-effect waves-light pull-right"> Send </div>
                                    </form>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>

        </footer>




        <%- include('./partials/footer.html') %>