<div id="history" class="modal animated slideInUp custom-scroll" style="animation-duration:500ms; width:85%;">
    <div class="modal-content">
        <span id="history-close" class="fa fa-close modal-action modal-close" style="position:absolute; right:0; top:0; padding:2%;"></span>
        <h5 class="text-center">Our Legacy</h5>
        <div class="container">
            <h5 class="flex-center" style="height:50%;">
                <span class="scroll-down fa fa-chevron-down animated fadeInDown infinite" style="animation-duration:1000ms !important; color:#b2b2b2"></span>
            </h5>
            <div class="page-header">
            </div>
            <ul class="timeline">
                <li>
                    <div class="timeline-badge flex-center"><span class="text-white fa fa-lightbulb-o"></span></div>
                    <div class="timeline-panel y2017 animated">
                        <div class="timeline-heading">
                            <h5 class="timeline-title">Enabling Digital Technology</h5>
                            <p><small class="text-muted"><i class="glyphicon glyphicon-time"></i>2017</small></p>
                        </div>
                        <div class="timeline-body">
                            <p>Questronix Corporation is a systems integrator that provides IT solutions for various industries.
                                This is premised on helping customers to increase competitive edge in terms of reliable information
                                delivery. This turn assures its employees opportunities for professional growth and better
                                family life. As these are sustained, the company's stakeholders are assured of fair return
                                on their investments.
                        </div>
                    </div>
                </li>
                <li class="timeline-inverted">
                    <div class="timeline-badge warning flex-center"><i class="fa fa-connectdevelop"></i></div>
                    <div class="timeline-panel y2007 animated" st>
                        <div class="timeline-heading">
                            <h5 class="timeline-title">IT Systems Integrator
                            </h5>
                            <p><small class="text-muted"><i class="glyphicon glyphicon-time"></i>2007</small></p>
                        </div>
                        <div class="timeline-body">
                            <p>Questronix Corporation recognized a huge IT market by focusing in the Open Systems Technology.
                                In 1990, gearing up to industry competition, it was appointed by IBM as its first business
                                partner for Rs/6000 (now known as System p). Wtihin years, the company emerged as on of IBM's
                                leading business partners having been instrumental in making System p a dominant platform.
                            </p>
                        </div>
                    </div>
                </li>
                <li>
                    <div class="timeline-badge danger flex-center"><i class="fa fa-diamond"></i></div>
                    <div class="timeline-panel y1997 animated">
                        <div class="timeline-heading">
                            <h5 class="timeline-title">IBM Partner</h5>
                            <p><small class="text-muted"><i class="glyphicon glyphicon-time"></i>1997</small></p>
                        </div>
                        <div class="timeline-body">
                            <p>Cognizant of the growing need for a fast, reliable and efficient information delivery in the
                                country's emerging IT market, A group of dynamic businessmen and professionals established
                                Questronix Corporation in 1987.</p>
                        </div>
                    </div>
                </li>
                <li class="timeline-inverted">
                    <div class="timeline-badge success flex-center"><i class="fa fa-code"></i></div>
                    <div class="timeline-panel y1987 animated">
                        <div class="timeline-heading">
                            <h5 class="timeline-title">Application Development
                            </h5>
                            <p><small class="text-muted"><i class="glyphicon glyphicon-time"></i>1987</small></p>
                        </div>
                        <div class="timeline-body">
                            <p>Started in 1987, Questronix has proven to be one of the most trusted IT solution provider and
                                systems integration in the Philippines. We continuously adopt to the rapid change of technology
                                providing latest technology and services. Today, we are celebrating our 30 years in the IT
                                industry.
                            </p>
                        </div>
                    </div>
                </li>
            </ul>
        </div>
    </div>
    <div class="modal-footer">
        <a class="modal-action modal-close waves-effect waves-green btn-flat">close</a>
    </div>
</div>
<div id="certificate" class="modal animated slideInUp custom-scroll" style="animation-duration:500ms; width:85%;">
    <div class="modal-content">
        <span id="history-close" class="fa fa-close modal-action modal-close" style="position:absolute; right:0; top:0; padding:2%;"></span>
        <h5 class="text-center">We innovate through continuous learning.</h5>
        <div class="container no-margin no-padding" style="width:100%;">
            <div class="col-md-12 row no-margin no-padding">
                <div class="col-md-3">
                    <div class="card col-md-12 no-padding">
                        <div class="card-image waves-effect waves-block waves-light">
                            <img class="activator" src="img/corporate.jpg">
                        </div>
                        <div class="card-content custom-scroll">
                            <span class="activator grey-text text-darken-4">Industry Certification</span>
                        </div>
                        <div id="style-2" class="card-reveal">
                            <span class="card-title activator grey-text text-darken-4">Industry certification</span>
                            <ul class="animated fadeInUp" style="animation-delay:300ms">
                                <li>Data center professional</li>
                                <li>IT service management</li>
                                <li>Enterprise Architecting</li>
                                <li>VMware Professional</li>
                                <li>ITIL</li>
                            </ul>
                        </div>
                    </div>
                </div>
                <div class="col-md-3">
                    <div class="card col-md-12 no-padding">
                        <div class="card-image waves-effect waves-block waves-light">
                            <img class="activator" src="img/ibm2.jpg">
                        </div>
                        <div class="card-content">
                            <span class="activator grey-text text-darken-4">IBM certification</span>
                        </div>
                        <div class="card-reveal custom-scroll">
                            <span class="card-title activator grey-text text-darken-4">IBM certification</span>
                            <ul class="animated fadeInUp" style="animation-delay:300ms">
                                <li>Power System and Storage System</li>
                                <li>Cloud Computing</li>
                                <li>Web Sphere</li>
                                <li>Intelligent Operations Center</li>
                                <li>Solution Design</li>
                                <li>QRadar</li>
                                <li>Cognos</li>
                                <li>Lenovo</li>
                                <li>Filenet</li>
                                <li>SPSS</li>
                                <li>Lotus</li>
                                <li>Tivoli</li>
                                <li>DB2</li>
                            </ul>
                        </div>
                    </div>
                </div>
                <div class="col-md-3">
                    <div class="card col-md-12 no-padding">
                        <div class="card-image waves-effect waves-block waves-light">
                            <img class="activator" src="img/solution.jpg">
                        </div>
                        <div class="card-content">
                            <span class="activator grey-text text-darken-4">Solution certification</span>
                        </div>
                        <div class="card-reveal custom-scroll">
                            <span class="card-title activator grey-text text-darken-4">Solution certification</span>
                            <ul class="animated fadeInUp" style="animation-delay:300ms">
                                SAP Business All in One SAP Business Object
                            </ul>
                        </div>
                    </div>
                </div>
                <div class="col-md-3">
                    <div class="card col-md-12 no-padding">
                        <div class="card-image waves-effect waves-block waves-light">
                            <img class="activator" src="img/networking.jpg">
                        </div>
                        <div class="card-content">
                            <span class="activator grey-text text-darken-4">Other certifications</span>
                        </div>
                        <div class="card-reveal custom-scroll">
                            <span class="card-title activator grey-text text-darken-4">Other certifications</span>
                            <ul class="animated fadeInUp" style="animation-delay:300ms">
                                <li>Solarwinds</li>
                                <li>Cyberroam</li>
                                <li>Barracuda</li>
                                <li>Palo Alto</li>
                                <li>Cisco</li>
                                <li>F5</li>
                            </ul>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="modal-footer">
        <a class="modal-action modal-close waves-effect waves-green btn-flat">close</a>
    </div>
</div>
<div id="leaders" class="modal animated slideInUp" style="animation-duration:500ms">
    <div class="modal-header">
        <span id="history-close" class="fa fa-close modal-action modal-close" style="position:absolute; right:0; top:0; padding:2%;"></span>
        <h5>Our Legacy</h5>
    </div>
    <div class="modal-content">
        <div class="container">
        </div>
    </div>
    <div class="modal-footer">
        <a class="modal-action modal-close waves-effect waves-green btn-flat">close</a>
    </div>
</div>
<div id="award" class="modal animated slideInUp" style="animation-duration:500ms">
    <div class="modal-header">
        <span id="history-close" class="fa fa-close modal-action modal-close" style="position:absolute; right:0; top:0; padding:2%;"></span>
        <h5>Our Legacy</h5>
    </div>
    <div class="modal-content">
        <div class="container">
        </div>
    </div>
    <div class="modal-footer">
        <a class="modal-action modal-close waves-effect waves-green btn-flat">close</a>
    </div>
</div>
<div id="solution" class="modal animated slideInUp custom-scroll" style="animation-duration:500ms; width:85%;">
    <div>
        <span id="history-close" class="fa fa-close modal-action modal-close" style="position:absolute; right:0; top:0; padding:2%;"></span>
    </div>
    <div class="modal-content">
        <div class="container no-margin no-padding" style="width:100%;">
            <h5>Innovative solutions</h5>
            <div class="col-md-12 row no-margin no-padding">
                <div class="col-md-3" style="border-right:solid 1px #b2b2b2">
                    <ul class="sol-serv">
                        <li>Enables business innovation & realtime collaboration</li>
                        <li>Optimizes business process and reduce costs</li>
                        <li>Designs simplified and efficient data center</li>
                        <li>*To be filled</li>
                    </ul>
                </div>
                <div class="col-md-9 row">
                    <div class="col-md-4 animated fadeInUp" style="animation-delay:200ms">
                        <b>
                            Infrastructures
                        </b>
                        <ul>
                            <li>IBM Systems Solutions</li>
                            <li>x86 Solutions</li>
                            <li>Data Center / Network</li>
                            <li>QH Cloud</li>
                        </ul>
                    </div>
                    <div class="col-md-4 animated fadeInUp" style="animation-delay:300ms">
                        <b>
                            Business solutions
                        </b>
                        <ul>
                            <li>ERP Solutions</li>
                            <li>Business Analytics</li>
                            <li>Systems Middle-ware</li>
                            <li>Oracle / IS Solution</li>
                            <li>Security Solution</li>
                        </ul>
                    </div>
                    <div class="col-md-4 animated fadeInUp" style="animation-delay:400ms">
                        <b>
                            Emerging technology
                        </b>
                        <ul>
                            <li>API</li>
                            <li>Bluemix</li>
                        </ul>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="modal-footer">
        <a class="modal-action modal-close waves-effect waves-green btn-flat">close</a>
    </div>
</div>
<div id="service" class="modal animated slideInUp custom-scroll" style="animation-duration:500ms; width:85%;">
    <div>
        <span id="history-close" class="fa fa-close modal-action modal-close" style="position:absolute; right:0; top:0; padding:2%;"></span>
    </div>
    <div class="modal-content">
        <div class="container no-margin no-padding" style="width:100%;">
            <h5>Reliable services</h5>
            <div class="col-md-12 row no-margin no-padding">
                <div class="col-md-3" style="border-right:solid 1px #b2b2b2">
                    <ul class="sol-serv">
                        <li>Faster issue and risk mitigation</li>
                        <li>Commitment to the best practices and standards</li>
                        <li>Exceptional Client Experience</li>
                        <li>*To be filled</li>
                    </ul>
                </div>
                <div class="col-md-9 row">
                    <div class="col-md-4 animated fadeInUp" style="animation-delay:200ms">
                        <b>
                            Technology and Infrastructure
                        </b>
                        <ul>
                            <li>Enterprise Architecture</li>
                            <li>Enterprise and systems Architecture</li>
                            <li>Network design and implementation</li>
                            <li>Unix / Linux implementation</li>
                            <li>Windows implementation</li>
                            <li>High availability implementation</li>
                            <li>Disaster recovery implementation</li>
                            <li>Security implementation</li>
                        </ul>
                    </div>
                    <div class="col-md-4 animated fadeInUp" style="animation-delay:300ms">
                        <b>
                            Business solutions
                        </b>
                        <ul>
                            <li>Systems Configuration</li>
                            <li>System Customization</li>
                            <li>Database Managemen</li>
                        </ul>
                    </div>
                    <div class="col-md-4 animated fadeInUp" style="animation-delay:400ms">
                        <b>
                            Application development
                        </b>
                        <ul>
                            <li>Software Development</li>
                            <li>Systems Integration</li>
                            <li>Systems Implementation</li>
                            <li>API</li>
                        </ul>
                    </div>
                    <div class="col-md-4 animated fadeInUp" style="animation-delay:500ms">
                        <b>
                            Project management servicess
                        </b>
                        <ul>
                            <li>Project Management</li>
                            <li>Project Coordination</li>
                        </ul>
                    </div>
                    <div class="col-md-4 animated fadeInUp" style="animation-delay:600ms">
                        <b>
                            Trainings and support
                        </b>
                        <ul>
                            <li>AIX Basic Administration</li>
                            <li>AIX Advanced Administration</li>
                            <li>Product / Solutions Training</li>
                            <li>24 / 7 Service Desk</li>
                            <li>On site / Off site Support</li>
                        </ul>
                    </div>
                    <div class="col-md-4 animated fadeInUp" style="animation-delay:700ms">
                        <b>
                           Maintinance and support
                        </b>
                        <ul>
                            <li>Data Center Management</li>
                            <li>Managed Services</li>
                        </ul>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="modal-footer">
        <a class="modal-action modal-close waves-effect waves-green btn-flat">close</a>
    </div>
</div>