    <div id="history" class="modal animated slideInUp" style="animation-duration:500ms; width:80%;">
        <div class="modal-content">
            <span id="history-close" class="fa fa-close modal-action modal-close" style="position:absolute; right:0; top:0; padding:2%;"></span>
            <h5 class="text-center">Our Legacy</h5>
            <div class="container">
                <div class="page-header">
                </div>
                <ul class="timeline">
                    <li>
                        <div class="timeline-badge flex-center"><span class="text-white fa fa-lightbulb-o"></span></div>
                        <div class="timeline-panel y2017">
                            <div class="timeline-heading">
                                <h5 class="timeline-title">Enabling Digital Technology</h5>
                                <p><small class="text-muted"><i class="glyphicon glyphicon-time"></i>2017</small></p>
                            </div>
                            <div class="timeline-body">
                                <p>Questronix Corporation is a systems integrator that provides IT solutions for various industries.
                                    This is premised on helping customers to increase competitive edge in terms of reliable
                                    information delivery. This turn assures its employees opportunities for professional
                                    growth and better family life. As these are sustained, the company's stakeholders are
                                    assured of fair return on their investments.
                            </div>
                        </div>
                    </li>
                    <li class="timeline-inverted">
                        <div class="timeline-badge warning flex-center"><i class="fa fa-connectdevelop"></i></div>
                        <div class="timeline-panel">
                            <div class="timeline-heading">
                                <h5 class="timeline-title">IT Systems Integrator
                                </h5>
                                <p><small class="text-muted"><i class="glyphicon glyphicon-time"></i>2007</small></p>
                            </div>
                            <div class="timeline-body">
                                <p>Questronix Corporation recognized a huge IT market by focusing in the Open Systems Technology.
                                    In 1990, gearing up to industry competition, it was appointed by IBM as its first business
                                    partner for Rs/6000 (now known as System p). Wtihin years, the company emerged as on
                                    of IBM's leading business partners having been instrumental in making System p a dominant
                                    platform.
                                </p>
                            </div>
                        </div>
                    </li>
                    <li>
                        <div class="timeline-badge danger flex-center"><i class="fa fa-diamond"></i></div>
                        <div class="timeline-panel">
                            <div class="timeline-heading">
                                <h5 class="timeline-title">IBM Partner</h5>
                                <p><small class="text-muted"><i class="glyphicon glyphicon-time"></i>1997</small></p>
                            </div>
                            <div class="timeline-body">
                                <p>Cognizant of the growing need for a fast, reliable and efficient information delivery in
                                    the country's emerging IT market, A group of dynamic businessmen and professionals established
                                    Questronix Corporation in 1987.</p>
                            </div>
                        </div>
                    </li>
                    <li class="timeline-inverted">
                        <div class="timeline-badge success flex-center"><i class="fa fa-code"></i></div>
                        <div class="timeline-panel">
                            <div class="timeline-heading">
                                <h5 class="timeline-title">Application Development
                                </h5>
                                <p><small class="text-muted"><i class="glyphicon glyphicon-time"></i>1987</small></p>
                            </div>
                            <div class="timeline-body">
                                <p>Started in 1987, Questronix has proven to be one of the most trusted IT solution provider
                                    and systems integration in the Philippines. We continuously adopt to the rapid change
                                    of technology providing latest technology and services. Today, we are celebrating our
                                    30 years in the IT industry.
                                </p>
                            </div>
                        </div>
                    </li>
                </ul>
            </div>
        </div>
        <div class="modal-footer">
            <a class="modal-action modal-close waves-effect waves-green btn-flat">close</a>
        </div>
    </div>
    <div id="certificate" class="modal animated slideInUp" style="animation-duration:500ms">
        <div class="modal-header">
            <span id="certificate-close" class="fa fa-close modal-action modal-close" style="position:absolute; right:0; top:0; padding:2%;"></span>
            <h5>We innovate through continuous learning.</h5>
        </div>
        <div class="modal-content">
            <div class="container">
            </div>
        </div>
        <div class="modal-footer">
            <a class="modal-action modal-close waves-effect waves-green btn-flat">close</a>
        </div>
    </div>
    <div id="leaders" class="modal animated slideInUp" style="animation-duration:500ms">
        <div class="modal-header">
            <span id="history-close" class="fa fa-close modal-action modal-close" style="position:absolute; right:0; top:0; padding:2%;"></span>
            <h5>Our Legacy</h5>
        </div>
        <div class="modal-content">
            <div class="container">
            </div>
        </div>
        <div class="modal-footer">
            <a class="modal-action modal-close waves-effect waves-green btn-flat">close</a>
        </div>
    </div>
    <div id="award" class="modal animated slideInUp" style="animation-duration:500ms">
        <div class="modal-header">
            <span id="history-close" class="fa fa-close modal-action modal-close" style="position:absolute; right:0; top:0; padding:2%;"></span>
            <h5>Our Legacy</h5>
        </div>
        <div class="modal-content">
            <div class="container">
            </div>
        </div>
        <div class="modal-footer">
            <a class="modal-action modal-close waves-effect waves-green btn-flat">close</a>
        </div>
    </div>